.container {
    min-height: calc(100vh - 96px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 32px;

    @media only screen and (max-width: 600px) {
        min-height: calc(100vh - 32px);
        padding: 16px;
    }

    &__question {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

h1 {
    font-size: 56px;
    font-weight: 900;
    text-align: center;
    line-height: 1.2;
    margin: 0;
    margin-bottom: 8px;

    @media only screen and (max-width: 600px) {
        font-size: 48px;
    }
}

h2 {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    line-height: 1.2;
    margin: 0;
    margin-bottom: 16px;

    @media only screen and (max-width: 600px) {
        font-size: 32px;
    }
}

button {
    border: 2px solid currentColor;
    border-radius: 4px;
    margin: 0;
    padding: 8px 32px;
    width: auto;
    overflow: visible;
    background: rgba(7,16,19, 0.10);
    color: inherit;
    font: inherit;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    max-width: 400px;
    transition: background-color 200ms ease-in-out;

    &:hover, &:focus {
        background: rgba(7,16,19, 0.20);
    }
}