<div class="container">
  <h1 [@headerTrigger] *ngIf="!hasStarted">Hoe weet ik wat ik "echt" wil?</h1>
  <h1 [@headerTrigger] *ngIf="question">Misschien helpt deze vraag?</h1>
  <div class="container__question">
    <button [@answerButtonTrigger] *ngIf="!hasStarted" (click)="handleStart()">Help mij!</button>
    <h2 [@answerTextTrigger] *ngIf="showQuestion">{{ question }}</h2>
    <button [@answerTextTrigger] *ngIf="showQuestion" (click)="handleAnswerChange()">Stel mij nog een vraag!</button>
  </div>
</div>